/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
}

.hero {
		height: 700px;
  		background: url("../images/header_bg.jpg") no-repeat center top;
  		background-size: cover
}

header {
    color: white;
  	font-weight: bolder;
  	padding-top: 40px;
	padding-left: 60px;
	font-size: 40px;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
}

div {
	font-size: 40px;
	text-align:	center;
	margin: 0 auto;
	font-weight: Semi-bold;
	font-size: 24px;
	}

#sub {
	color: white;
	font-size: 50px;
	margin-top: 90px;
}
#get {
	background-color: #f9e42e;
	color: black;
	font-size: 30px;
	font-weight: bolder;
	padding: 10px 20px 20px 10px;
	border-radius: 5px;
	height: 30px;
	width: 280px;
	margin: 0 auto;
	margin-top: 90px;
}

.benefits {
	padding-top: 40px;
	padding-left: 60px;
	background-color: #f0efef;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px; 
}

#para1 {
	margin-right: 620px;
	font-weight: lighter; 
	font-size: 32px;
	padding-right: 10px;
}

ul {
	margin-left: 100px;
	margin-top: 40px;
	font-size: 32px;
	padding-right: 400px;
	padding-bottom: 80px;
}

.quote {
	background: url("../images/testimonial_bg.jpg");
	height: 280px;
	background-size: cover;
	text-align: center;
	color: white;
	font-size: 40px;
	padding: 80px 350px;
}

.button {
	background: #f9e42e;
	height: 150px;
	text-align: center;
	line-height: 150px;
}

a {
	border-radius: 5px;
	color: white;
	font-weight: bolder;
	font-size: 30px;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #033048;
	text-decoration: none;
	}

.copyright {
	background: #121212;
	height: 400px;
	text-align: center
}

h3 {
	color: #f9e42e;
	font-size: 64px;
	font-weight: bolder;
	line-height: 200px;
}

img {
	margin-left: 30px;
	margin-right: 30px;
}

#para2 {
	color: white;
	font-size: 20px;
	margin-top: 70px;
}